<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- 网站说明 -->
    <% if ( htmlWebpackPlugin.options.keywords ) { %>
        <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <% } %>
    <!-- 网站seo关键字 -->
    <% if ( htmlWebpackPlugin.options.description ) { %>
        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <div id="app"></div>
</body>

</html>