.edit_mode_box {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    border-radius: 0px 0px 5px 5px;
    width: 700px;
    z-index: 99999;
}
.edit_mode_box .mode_nav {
    display: flex;
    padding: 10px 10px;
}
.edit_mode_box .mode_nav li {
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    cursor: pointer;
    position: relative;
}
.edit_mode_box .mode_nav li.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background-color: #FFF;
}
.edit_mode_box .user_info_box {
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
.edit_mode_box .user_info_box .user_img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.edit_mode_box .user_info_box .user_img img {
    width: 100%;
    height: 100%;
}
.edit_mode_box .user_info_box .user_info {
    margin-left: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: 40px;
}
.edit_mode_box .user_info_box .user_info svg {
    width: 15px;
    height: 12px;
    margin-left: 10px;
}
.edit_mode_box .user_info_box .user_info .user_tab_box {
    position: absolute;
    top: 40px;
    left: -15px;
    right: 0px;
    padding-top: 10px;
    display: none;
}
.edit_mode_box .user_info_box .user_info .user_tab_box ul {
    background-color: rgba(0,0,0,0.6);
    border-radius: 0px 0px 5px 5px;
}
.edit_mode_box .user_info_box .user_info .user_tab_box ul  li {
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.edit_mode_box .user_info_box .user_info:hover .user_tab_box {
    display: block;
}
.edit_mode_box .user_info_box .collapse {
    margin-left: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.edit_mode_box .user_info_box .collapse svg {
    width: 100%;
    height: 100%;
}
/* 弹窗公共样式 */
.edit_mode_popup {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99998;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.edit_mode_popup .edit_mode_mask {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
}
/* 页面内容样式 */
.edit_mode_pages {
    position: relative;
    z-index: 1;
}
.edit_mode_pages .page_list_box {
    background-color: #FFF;
    width: 260px;
}
.edit_mode_pages .page_list_box .title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit_mode_pages .page_list_box .title button {
    background-color:#333;
    border: 0;
    color: #FFF;
    font-size: 14px;
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
}
.edit_mode_pages .page_list_box .page_list {
   cursor: pointer;
   padding: 0 15px; 
}
.edit_mode_pages .page_list_box .page_list:active {
    background-color: #f5f5f5;
}
.edit_mode_pages .page_list_box .page_list.active {
    background-color: #333;
}
.edit_mode_pages .page_list_box .page_list.active .content {
    border-top: 1px solid #333;
}
.edit_mode_pages .page_list_box .page_list.active .content .list_info .name {
    color: #FFF;
}
.edit_mode_pages .page_list_box .page_list.active .content .list_info .page_name {
    color: #f1f1f1;
}
.edit_mode_pages .page_list_box .page_list .content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid #eee;
   padding: 15px 0; 
}
.edit_mode_pages .page_list_box .page_list .list_info .name {
    font-size: 14px;
    color: #333;
}
.edit_mode_pages .page_list_box .page_list .list_info .page_name {
    font-size: 12px;
    color: #666666;
    margin-top: 10px;
}
.edit_mode_pages .page_list_box .page_list svg {
    width: 16px;
    height: 16px;
}