.edit_mode_box {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    border-radius: 0px 0px 5px 5px;
    width: 700px;
    z-index: 99999;
}
.edit_mode_box .mode_nav {
    display: flex;
    padding: 10px 10px;
}
.edit_mode_box .mode_nav li {
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    cursor: pointer;
    position: relative;
}
.edit_mode_box .mode_nav li.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background-color: #FFF;
}
.edit_mode_box .user_info_box {
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
.edit_mode_box .user_info_box .user_img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.edit_mode_box .user_info_box .user_img img {
    width: 100%;
    height: 100%;
}
.edit_mode_box .user_info_box .user_info {
    margin-left: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: 40px;
}
.edit_mode_box .user_info_box .user_info svg {
    width: 15px;
    height: 12px;
    margin-left: 10px;
}
.edit_mode_box .user_info_box .user_info .user_tab_box {
    position: absolute;
    top: 40px;
    left: -15px;
    right: 0px;
    padding-top: 10px;
    display: none;
}
.edit_mode_box .user_info_box .user_info .user_tab_box ul {
    background-color: rgba(0,0,0,0.6);
    border-radius: 0px 0px 5px 5px;
}
.edit_mode_box .user_info_box .user_info .user_tab_box ul  li {
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.edit_mode_box .user_info_box .user_info:hover .user_tab_box {
    display: block;
}
.edit_mode_box .user_info_box .collapse {
    margin-left: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.edit_mode_box .user_info_box .collapse svg {
    width: 100%;
    height: 100%;
}
/* 弹窗公共样式 */
.edit_mode_popup {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99998;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.edit_mode_popup .edit_mode_mask {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
}
/* 页面内容样式 */
.edit_mode_pages {
    position: relative;
    z-index: 1;
}
.edit_mode_pages .page_list_box {
    background-color: #FFF;
    width: 260px;
}
.edit_mode_pages .page_list_box .title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit_mode_pages .page_list_box .title button {
    background-color:#333;
    border: 0;
    color: #FFF;
    font-size: 14px;
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
}
.edit_mode_pages .page_list_box .page_list {
   cursor: pointer;
   padding: 0 15px; 
}
.edit_mode_pages .page_list_box .page_list:active {
    background-color: #f5f5f5;
}
.edit_mode_pages .page_list_box .page_list.active {
    background-color: #333;
}
.edit_mode_pages .page_list_box .page_list.active .content {
    border-top: 1px solid #333;
}
.edit_mode_pages .page_list_box .page_list.active .content .list_info .name {
    color: #FFF;
}
.edit_mode_pages .page_list_box .page_list.active .content .list_info .page_name {
    color: #f1f1f1;
}
.edit_mode_pages .page_list_box .page_list .content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid #eee;
   padding: 15px 0; 
}
.edit_mode_pages .page_list_box .page_list .list_info .name {
    font-size: 14px;
    color: #333;
}
.edit_mode_pages .page_list_box .page_list .list_info .page_name {
    font-size: 12px;
    color: #666666;
    margin-top: 10px;
}
.edit_mode_pages .page_list_box .page_list svg {
    width: 16px;
    height: 16px;
}
/* 结构图 */
.edit_mode_structure_chart {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: calc(100vh - 100px);
    overflow: auto;
}

.edit_mode_structure_chart .structure_chart_box {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit_mode_structure_chart .structure_chart_box .chart_box {
    display: flex;
    flex-direction: column;
}
.edit_mode_structure_chart .structure_chart_box .chart_box > .model_content_box > .model_info::before {
    content: initial;
}
.edit_mode_structure_chart .structure_chart_box .chart_box > .model_content_box::before,.edit_mode_structure_chart .structure_chart_box .chart_box > .model_content_box::after {
    content: initial;
}
.edit_mode_structure_chart .structure_chart_box .model_info_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.edit_mode_structure_chart .structure_chart_box .model_content_box {
    display: flex;
    align-items: center;
    padding: 10px 0;
    position: relative;
}
.edit_mode_structure_chart .structure_chart_box .model_content_box::before {
    content: "";
    position: absolute;
    left:-15px;
    top: 0%;
    bottom: 50%;
    width: 1px;
    background-color: #FFF;
}
.edit_mode_structure_chart .structure_chart_box .model_content_box::after {
    content: "";
    position: absolute;
    left:-15px;
    top: 50%;
    bottom: 0;
    width: 1px;
    background-color: #FFF;
}
.edit_mode_structure_chart .structure_chart_box .model_content_box:first-child::before {
    content: initial;
}
.edit_mode_structure_chart .structure_chart_box .model_content_box:last-child::after {
    content: initial;
}
.edit_mode_structure_chart .structure_chart_box .model_info {
    background-color: #FFF;
    border-radius: 8px;
    margin-right: 30px;
    cursor: pointer;
    position: relative;
}
.edit_mode_structure_chart .structure_chart_box .model_info::before {
    content: "";
    position: absolute;
    left:-15px;
    top: 50%;
    width: 15px;
    height: 1px;
    background-color: #FFF;
}
.edit_mode_structure_chart .structure_chart_box .model_info::after {
    content: "";
    position: absolute;
    right:-15px;
    top: 50%;
    width: 15px;
    height: 1px;
    background-color: #FFF;
}
.edit_mode_structure_chart .structure_chart_box .model_info .title {
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.edit_mode_structure_chart .structure_chart_box .model_info .title .type {
    background-color: #333;
    color: #FFF;
    padding: 8px;
}
.edit_mode_structure_chart .structure_chart_box .model_info .title .name {
    margin-left: 15px;
}
/* 模板预览|选择 */
.template_view_box {
    position: relative;
    z-index: 1;
    padding-top: 20px;
}
.template_view_box .template_tab_box {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.template_view_box .template_tab_box::before,.template_view_box .template_tab_box::after {
    content: "";
    height: 36px;
    border-bottom:1px solid #FFF;
    flex: 1;
}
.template_view_box .template_tab_box div {
    height: 36px;
    width: 150px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    border-radius: 8px 8px 0 0;
    flex-shrink: 0;
    border-bottom:1px solid #FFF;
    cursor: pointer;
    font-size: 18px;
}
.template_view_box .template_tab_box div.active {
    border-top: 1px solid #FFF;
    border-left:1px solid #FFF;
    border-right:1px solid #FFF;
    border-bottom:0;
}
.template_view_box .template_list_box {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    width: 1000px;
    height: calc(100vh - 180px);
    overflow-y: auto;
}

.template_list_box .template_list {
    width: 300px;
    margin-right: 33px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}
.template_view_box .template_list_box .template_list:nth-child(3n){
    margin-right: 0;
}
.template_view_box .template_list_box .template_list .template_img {
    height: 200px;
}
.template_view_box .template_list_box .template_list .template_img  img {
    height: 100%;
    width: 100%;
}
.template_view_box .template_list_box .template_list .template_info {
    margin-top: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.8) 100%);
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}
.template_view_box .template_list_box .template_list .template_info .name {
    font-size: 16px;
    color: #FFF;
}
.template_select_box.template_list_box {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    padding: 15px;
}
.template_select_box.template_list_box .template_list {
    width: 32%;
    margin-right: 2%;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
    border:1px solid #f5f5f5;
    box-sizing: border-box;
}
.template_select_box.template_list_box .template_list:nth-child(3n){
    margin-right: 0;
}
.template_select_box.template_list_box .template_list .template_img {
    height: 120px;
}
.template_select_box.template_list_box .template_list .select {
    position: absolute;
    top:10px;
    right: 10px;
    background-image: url("https://qn.kemean.cn/upload/201908/26/aa7e654190334991ae4f6b8a89baded6");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 26px;
    height: 26px;
}
.template_select_box.template_list_box .template_list .select.active {
    background-image: url("https://qn.kemean.cn/upload/201908/26/0adf7caa72314b3c97ecd2836344165a");
}
.template_select_box.template_list_box .template_list .template_img  img {
    height: 100%;
    width: 100%;
}
.template_select_box.template_list_box .template_list .template_info {
    margin-top: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.8) 100%);
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}
.template_select_box.template_list_box .template_list .template_info .name {
    font-size: 16px;
    color: #FFF;
}
/* 其他样式 */
.text-right-view {
    text-align: right;
}
.view-style {
    margin-right: 15px;
}