<template>
    <!DOCTYPE html>
    <html>

    <head>
        <% if ( keywords ) { %>
        <meta name="keywords" content="<%= keywords %>">
        <% } %>
        <% if ( description ) { %>
        <meta name="description" content="<%= description %>">
        <% } %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title>
        <link rel="stylesheet" href="/layui/css/layui.css">
        <link rel="stylesheet" href="/layui/css/admin.css">
    </head>
    <body>
        <div class="layui-fluid">
            <!--&&htmlchildren&&-->
        </div>
        <script src="/layui/layui.js"></script>
        <script src="/config/md5.js"></script>
        <script>
            layui.extend({
                index: '/config/index',
            }).use(['form',"index"], function () {
                var $ = layui.$,
                    form = layui.form,
                    $http = parent.window.layui.$http,
                    popup = parent.window.layer,
                    dataDom = layui.dataDom,
                    insert,
                    pageData = {};
                    for(var httpData in $http.data){
                        pageData[httpData] = $http.data[httpData];
                    }
                    form.verify({
                        <% verifyList.forEach(function(key){ %>
                            <%- key.value %>: function (value, item) { //value：表单的值、item：表单的DOM对象
                                <% key.verify.forEach(function(item){ %>
                                    if (<%- item.rule %>.test(value)) {
                                        return "<%- item.prompt %>";
                                    }
                                <% }); %>
                            },
                        <% }); %>
                    });
                    //&&scriptchildren&&
            });
        </script>
    </body>
    </html>
</template>
<script name="compile">
    function templateCompile(data) {
        var defaultData = {
            title: "后台管理",
            favicon: "favicon.ico",
            type: "childPage"
        };
        return {
            success: true,
            result: Object.assign(defaultData, data)
        };
    }
</script>