<template>
    <div class="layui-form-item">
        <!--&&htmlchildren&&-->
    </div>
</template>
<script name="compile">
    function templateCompile(data) {
        var defaultData = {
            type: "module",
        };
        var newData = Object.assign(defaultData, data);
        var callback = {
            success: true,
            result: newData
        };
        if(newData.children && newData.children.content && newData.children.content instanceof Array){
            if(newData.children.content.length > 1 ){
                newData.children.content.map(item => {
                    item.multiple = true;
                    return item;
                });
            }
        }
        return callback;
    }
</script>
<script name="templateScript">
    //&&scriptchildren&&
</script>