<template>
    <div class="layui-form-mid layui-word-aux"><%= prompt %></div>
</template>
<script name="compile">
    function templateCompile(data) {
        var defaultData = {
            type: "module",
        };
        var newData = Object.assign(defaultData, data);
        var callback = {
            success: true,
            result: newData
        };
        if (!newData.prompt) {
            return {
                success: false,
                result: "输入框提示模块缺少参数：prompt"
            };
        }
        return callback;
    }
</script>