<template>
    <!DOCTYPE html>
    <html>
    <head>
        <% if ( keywords ) { %>
            <meta name="keywords" content="<%= keywords %>">
        <% } %>
        <% if ( description ) { %>
            <meta name="description" content="<%= description %>">
        <% } %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title>
        <link rel="stylesheet" href="/layui/css/layui.css">
        <link rel="stylesheet" href="/layui/css/admin.css">
    </head>
    <body>
    <script src="/layui/layui.js"></script>
</template>
<script name="compile">
    function compile(data){
        var defaultData = {
            title: "后台管理",
            favicon: "favicon.ico",
            type: "module"
        };
        return {
            success:true,
            result: Object.assign(defaultData,data)
        };
    }
</script>
<script name="template">
    
</script>
