<template>
    <div class="layui-form-item">
        <label class="layadmin-user-login-icon layui-icon <%= icon %>"></label>
        <input type="<%= inputType %>" name="<%= name %>" id="<%= 'input-' + inputType +'-'+ name %>"
            <% if ( verify ) { %> lay-verify="<%= verify %>" <% } %> placeholder="<%= placeholder %>" class="layui-input">
    </div>
</template>
<script name="compile">
    function templateCompile(data) {
        var defaultData = {
            type: "module",
            placeholder: "",
            verify: "required",
            inputType: "text",
            verify:false
        };
        var callback = {
            success: true,
            result: Object.assign(defaultData, data)
        };
        if (!data.title) {
            callback.success = false;
            callback.result = "请输入表单名称，参数名：title";
        }
        if (!data.name) {
            callback.success = false;
            callback.result = "请输入参数名称，参数名：name";
        }
        if (!data.icon) {
            callback.success = false;
            callback.result = "请选择表单图标，参数名：icon";
        }
        return callback;
    }
</script>