<template>
    <!DOCTYPE html>
    <html>

    <head>
        <% if ( keywords ) { %>
        <meta name="keywords" content="<%= keywords %>">
        <% } %>
        <% if ( description ) { %>
        <meta name="description" content="<%= description %>">
        <% } %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title>
        <link rel="stylesheet" href="/layui/css/layui.css">
        <link rel="stylesheet" href="/layui/css/admin.css">
    </head>
    <body class="layui-layout-body">
        <!--&&htmlchildren&&-->
        <script src="/layui/layui.js"></script>
        <script src="/config/md5.js"></script>
        <script>
            layui.extend({
                index: '/config/index',
            }).use(['form',"index"], function () {
                var $ = layui.$,
                    form = layui.form,
                    $http = layui.$http,
                    popup = layer,
                    dataDom = layui.dataDom,
                    
                    insert,
                    pageData = {};
                    for(var httpData in $http.data){
                        pageData[httpData] = $http.data[httpData];
                    }
                    //&&scriptchildren&&
            });
        </script>
    </body>
    </html>
</template>
<script name="compile">
    function templateCompile(data) {
        var defaultData = {
            title: "后台管理",
            favicon: "favicon.ico",
            type: "page"
        };
        return {
            success: true,
            result: Object.assign(defaultData, data)
        };
    }
</script>