<template>
    <div class="layui-card">
        <div class="layui-card-header">开启合计行</div>
        <div class="layui-card-body">
            <table class="layui-hide" id="table-elem-<%= tableId %>" lay-filter="table-elem-<%= tableId %>"></table>
            <script type="text/html" id="table-toolbarDemo-<%= tableId %>">
                <div class="layui-btn-container">
                    <% if(toolbar && toolbar instanceof Array){ %>
                        <% toolbar.forEach(item => { %>
                            <button class="layui-btn layui-btn-sm" lay-event="<%= item.name %>"><%= item.title %></button>
                        <% }); %>
                    <% } %>
                </div>
            </script>
        </div>
    </div>
</template>
<script name="compile">
    function templateCompile(data) {
        var defaultData = {
            type: "module",
        };
        var newData = Object.assign(defaultData, data);
        var callback = {
            success: true,
            result: newData
        };
        function getLastChild(index,callback){
            if(index == 0){
                if(newData["children"]){
                  return getLastChild(index + 1);
                }else{
                    return "children";
                }
            }else if(newData["children" + index]){
               return getLastChild(index + 1);
            }else{
                return "children" + index;
            }
        }
        if (!newData.tableId) {
            callback.success = false;
            callback.result = "表格缺少参数：tableId";
        }
        if (newData.toolbar && newData.toolbar instanceof Array) {
            for(let item of newData.toolbar){
                if(!item.title){
                    callback.success = false;
                    callback.result = "表格参数toolbar数组缺少参数：title";
                    break;
                } else if (!item.name) {
                    callback.success = false;
                    callback.result = "表格参数toolbar数组缺少参数：name";
                    break;
                }
                if(item.children){
                    let childrenName = getLastChild(0);
                    newData[childrenName] = item.children;
                    item.childrenName = childrenName;
                }
            };
        }
        if (!newData.requestUrl) {
            callback.success = false;
            callback.result = "表格缺少参数：requestUrl";
        }
        if (!newData.cols) {
            callback.success = false;
            callback.result = "表格缺少参数：cols";
        }
        if (!newData.cols instanceof Array) {
            callback.success = false;
            callback.result = "表格参数'cols'必须为数组";
        }
        for (let item of newData.cols) {
            if (item instanceof Array) {
                for (let childItem of item) {
                    if(childItem.templet){
                        childItem.templet = "&&start&&" + childItem.templet + "&&end&&"
                    }else if(!childItem.type || childItem.type && childItem.type == "normal" || childItem.templet){
                        if (!childItem.field) {
                            callback.success = false;
                            callback.result = "表格参数cols数组缺少参数：field";
                            break;
                        } else if (!childItem.title) {
                            callback.success = false;
                            callback.result = "表格参数cols数组缺少参数：title";
                            break;
                        }
                    }
                };
            }else{
                callback.success = false;
                callback.result = "表格参数'cols'必须为二维数组";
                break;
            }
        };
        let tableData = {
            elem: "#table-elem-"+newData.tableId,
            url: newData.requestUrl,
            cols: newData.cols,
            id: "#table-id-" + newData.tableId
        };
        if(newData.toolbar){
            tableData.toolbar = "#table-toolbarDemo-"+ newData.tableId;
        }
        if (newData.defaultToolbar) {
            tableData.defaultToolbar = newData.defaultToolbar;
        }
        if (newData.title) {
            tableData.title = newData.title;
        }
        if (newData.width) {
            tableData.width = newData.width;
        }
        if (newData.height) {
            tableData.height = newData.height;
        }
        if (newData.cellMinWidth) {
            tableData.cellMinWidth = newData.cellMinWidth;
        }
        if (newData.done) {
            tableData.done = newData.done;
        }
        if (newData.totalRow) {
            tableData.totalRow = newData.totalRow;
        }
        if (newData.page) {
            tableData.page = newData.page;
        }
        if (newData.limit) {
            tableData.limit = newData.limit;
        }
        if (newData.limits) {
            tableData.limits = newData.limits;
        }
        if (newData.loading) {
            tableData.loading = newData.loading;
        }
        if (newData.text) {
            tableData.text = newData.text;
        }
        if (newData.autoSort) {
            tableData.autoSort = newData.autoSort;
        }
        if (newData.initSort) {
            tableData.initSort = newData.initSort;
        }
        if (newData.skin) {
            tableData.skin = newData.skin;
        }
        if (newData.where) {
            tableData.where = newData.where;
        }
        if (newData.method) {
            tableData.method = newData.method;
        }
        if (newData.contentType) {
            tableData.contentType = newData.contentType;
        }
        if (newData.headers) {
            tableData.headers = newData.headers;
        }
        if (newData.request) {
            tableData.request = newData.request;
        }
        if (newData.parseData) {
            tableData.parseData = newData.parseData;
        }
        let tableDataSrt = JSON.stringify(tableData);
        callback.result.tableData = tableDataSrt.replace(/\"&&start&&/g, "function (b){").replace(/&&end&&\"/g, "}");
        return callback;
    }
</script>
<script name="templateScript">
    table.render(<%- tableData %>);
    <% if(toolbar && toolbar instanceof Array){ %>
    table.on('toolbar(<%= tableData.toolbar %>)', function (obj) {
        var checkStatus = table.checkStatus(obj.config.id);
        switch (obj.event) {
            <% toolbar.forEach(item => { %>
                case '<%= item.name %>':
                var data = checkStatus.data;
                <% if (item.templet) { %>
                    <%- item.templet %>
                <% } %>
                //&&script<%= item.childrenName %>&&
                break;
            <% }); %>
        };
    });
    <% } %>
    //监听行工具事件
    table.on('tool(<%= tableData.toolbar %>)', function (obj) {
        var data = obj.data;
        console.log(data);
    });


</script>